<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>+
<body>
<div class="container">
    <div class="people-list" th:each="person : ${people}">
        <a class="people-info" th:href="@{/people/{id}(id=${person.getId()})}"
                                th:text="${person.getName() + ', ' + person.getAge()}">user</a>
    </div>

    <br/>
    <hr/>
    <div class="text-center">
        <a class="create__link" href="/people/new">Create new person</a>
    </div>
</div>



</body>
</html>