<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
  <form th:method="POST" th:action="@{/books}" th:object="${book}">
    <div>
      <label for="id_person">Enter person id</label>
      <input type="text" th:field="*{id_person}" id="id_person">
    </div>
    <div>
      <label for="book_name">Enter book name</label>
      <input type="text" th:field="*{book_name}" id="book_name">
    </div>
    <div>
      <label for="book_author">Enter book author</label>
      <input type="text" th:field="*{book_author}" id="book_author">
    </div>
    <div>
      <label for="year_of_production">Enter year of production</label>
      <input type="text" th:field="*{year_of_production}" id="year_of_production">
    </div>
    <input type="submit" value="Creature">
  </form>
</body>
</html>